<!DOCTYPE html>
<html>
  <head>
    <title>Data & art.</title>
    <meta name="description" content="Data & art.">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/1d11eaa3-e6ed-4173-8f07-88d34f2edfd9%2FScreen%20Shot%202018-05-28%20at%2012.52.05%20PM.png?1527526341314" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div class="titleBox">
      <div class="titleRow">
      <div class="circle FontBulge" id="l-circle">
      <div class="circle" id="s-circle"></div></div>
      <div><h1>DART</h1></div>
      <div><button class="city_button" onclick="location.href='/'">Berlin --> NYC</button></div>
      </div>
      <div class="subHeader">
      <h3>
        Upcoming Berlin events at the intersection of data, technology & art.
      </h3>
        </div>
      </div>
    </header>
    <br>
    <main>
      <div id="eventBody">
        
      <div id="berlinEventDetails">
        
      </div>
      </div>
    </main>
    <footer>
      <div>Got an event to add to the list? Request those editing perms to add any & all <a class="eventLink" href="https://docs.google.com/spreadsheets/d/1x1MvUF-dr_kuAMwAa9pLixZHdyoZD_HXI8YW-01KiQY/edit?usp=sharing" target="_new">here!!!</a> 
        Want weekly updates? Newsletter taking off soon. <a class="eventLink" href="https://tinyletter.com/dart_fyi">Subscribe. </a> 
        <br>Made with (^～^) by <a class="eventLink" href="https://twitter.com/eveahe">eveahe </a> and <a class="eventLink" href="http://leetusman.com/" target="_blank">Lee Tusman.</a></div>
    </footer>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Plaster" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>        
    <script src="/client.js"></script>
  </body>
</html>