<!DOCTYPE html>
<html>
  <head>
    <title>Google Sheets Data Dashboard</title>
    <meta name="description" content="Google Sheets Data Dashboard">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <div class="title">
      <div class="circle" id="l-circle">
        <div class="circle" id="s-circle">
        
        </div>
        </div>
      <div><h1 class="FontBulge">DART</h1></div>
      </div>
    </header>
      <div class="subHeader">
      <h3>
        Upcoming NYC events at the intersection of data, technology & art.
      </h3>
      </div>
    <br>
    <main>
      <div id="eventBody">
        
      <div id="eventDetails">
        
      </div>
      </div>
    </main>
    <footer>
      <div>Got a cool one to share? Request those editing perms to add in ne & all relevent events <a class="eventLink" href="https://docs.google.com/spreadsheets/d/1x1MvUF-dr_kuAMwAa9pLixZHdyoZD_HXI8YW-01KiQY/edit?usp=sharing" target="_new">here.</a></div>
    </footer>
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Plaster" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>        
    <script src="/client.js"></script>
  </body>
</html>