<!-- This is a static file --> 
<!-- served from your routes in server.js -->

<!-- Step 3: Display the Dashboard -->
<!-- The last thing we need to do is actually display everything. Most of it is taken care of by Gridster, -->
<!-- so we just need to be sure to specify the HTML element we've added Gridster to, and include the Gridster -->
<!-- and client.js files. In this case, we've included the Gridster JS and CSS files in the project itself, -->
<!-- so you'll note the `jquery.gridster.min.css` and `jquery.gridster.min.js` files in the front-end section of our project. -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google Sheets Data Dashboard</title>
    <meta name="description" content="Google Sheets Data Dashboard">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/jquery.gridster.min.css">    
  </head>
  <body>
    <header>
      <h4>
        Google Sheets Data Dashboard
      </h4>
    </header>
    <br />
    <main>
      <section id="charts">
      </section>
      <span>Data at <a href="https://docs.google.com/spreadsheets/d/1wz29qFmSVUoUpcxZzwPgyamrfXTjN8cnqydPW8N6XAg/edit?usp=sharing" target="_new">https://docs.google.com/spreadsheets/d/1wz29qFmSVUoUpcxZzwPgyamrfXTjN8cnqydPW8N6XAg/edit?usp=sharing</a></span>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>        
    <script src="/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/client.js"></script>
  </body>
</html>