/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 25px;
  background-color: white;
}

h4 {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  color: pink;
  display:inline;
}

#eventDetails {
  font-family: monospace;
  color: black;
  
}

.eventDate {
  font-size: 16px;
}

.eventName {
  color: cornflowerblue;
}

.eventDescription {
  font-size: 12px;
}

.eventLocale {
  font-weight: bold;
}

.eventLink > a {
  color: black;
}



button {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  font-family: monospace;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

/* footer > a {
  color: #BBBBBB;
} */

.eventLink {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}

.eventLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    text-decoration: none;
}

.eventLink:hover::after {
    width: 100%;
    transition: width .3s;
    text-decoration: none;
}

/* test font bulge */
.FontBulge:hover {
  -webkit-animation: FontBulge 1s;
  -moz-animation: FontBulge 1s;
}
@-webkit-keyframes FontBulge {
  0% {
    font-size: 60px;
  }
  20% {
    font-size: 80px;
    letter-spacing: 5px;
  }
  55% {
    font-size: 55px;
    letter-spacing: -5px;
    }
  80% {
    font-size: 70px;
    letter-spacing: 2px;
  }
  100% {
    font-size: 60px;
  }
}
.hero-unit {
  background: -webkit-linear-gradient(left top,#94c23d,#81b226);
  color:#fafafa;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
h1 {
  font-size:60px;
  margin:30px;
  padding:24px;
}