/* styles */
h1 {
  color: #373fff;
  font-size: 80px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Plaster", cursive;
}

nav {
  margin-top: 30px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 10px #888888;
  border-radius: 20px 20px;
  border: 2px solid red;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
  /* height:36px;  */
    line-height:36px; 
    font-family: "Source Code Pro", monospace;
    font-size: larger;
}
ul.nav li {
   /* border-right:1px solid red; you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;  
    color: blue;
    text-decoration:none;
}

ul.nav a:hover,
ul.nav li.current a {
    color: grey;
}
.circle {
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.titleRow {
  display: flex;
  /*   justify-content: center; */
  align-items: center;
  /*   flex-direction: column; */
}

.city_button {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 20px 20px;
  padding: 6px 6px 6px 6px;
  font-family: "Source Code Pro", monospace;
}

#l-circle {
  background: yellow;
  height: 70px;
  width: 70px;
  display: inline-block;
}

#s-circle {
  background: black;
  height: 30px;
  width: 30px;
  /*   margin: 20px; */
  display: inline-block;
}

h3 {
  color: #373fff;
  font-size: 12px;
  font-family: "Source Code Pro", monospace;
}

/*Designing for cell phones*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 15px;
  }
  nav {
    font-size: 10px;
    width: 90%;
  }
  li {
    width: 90%;
  }
  .titleBox {
    max-width: 90% !important;
  }

  #eventBody {
    max-width: 90% !important;
  }

  footer {
    max-width: 90% !important;
  }
  .titleRow {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

main {
  font-family: "Source Code Pro", monospace;
  margin: 10px;
  color: black;
  background-color: white;
}

#eventBody {
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px 20px;
  padding: 10px;
  margin-right: 10px;
  max-width: 70%; 
  box-shadow: 5px 10px #888888;
}

footer {
  font-family: monospace;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  max-width: 70%;
}

a {
  text-decoration: none;
  color: black;
}

.eventName {
  /* text-decoration: underline overline wavy blue; */
  border-bottom: 4px solid blue;
  font-size: 16px;
}

.eventLink {
  display: inline-block;
  color: #000;
  /*    text-decoration: none; */
}

.eventLink:hover {
  background-color: yellow;
}

.eventLink:after {
  background-color: yellow;
}

#eventDetails {
  font-family: monospace;
  color: black;
}

.eventDate {
  font-size: 16px;
  margin-top: 10px;
}

.eventDescription {
  font-size: 12px;
}

.eventLocale {
  font-weight: bold;
}

.subHeader {
  border-color: yellow;
  border-style: solid;
  border-width: 2px;
  box-shadow: 5px 10px #888888;
  border-radius: 20px 20px;
  margin-top: 20px;
  padding: 10px;
  max-width: 100%;
}

.titleBox {
  background-color: white;
  box-shadow: 5px 10px #888888;
  border-radius: 20px 20px;
  border: 2px solid red;
  max-width: 70%;
}

@media only screen and (min-width: 600px) {
  .FontBulge:hover {
    -webkit-animation: FontBulge 1s;
    -moz-animation: FontBulge 1s;
  }
}

@-webkit-keyframes FontBulge {
  0% {
    font-size: 60px;
  }
  20% {
    font-size: 80px;
    letter-spacing: 5px;
    height: 55px;
    width: 55px;
  }
  55% {
    font-size: 55px;
    letter-spacing: -5px;
    height: 60px;
    width: 60px;
  }
  80% {
    font-size: 70px;
    letter-spacing: 2px;
    height: 80px;
    width: 80px;
  }
  100% {
    font-size: 60px;
    height: 100px;
    width: 100px;
  }
}
